In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(data=np.array([[1,2,3],[4,5,6]],dtype=int),columns=['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6

In [8]:
data = [['deigo',10],['octa',11],['ricky',12]]
df= pd.DataFrame(data,columns=['nama','umur'],dtype=float)
df

    nama  umur
0  deigo  10.0
1   octa  11.0
2  ricky  12.0